<!DOCTYPE html>
<html lang="ru" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Добавление типа лекарственных средств</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Добавление типа лекарственных средств</h1>
    <br>
    <table>
        <tr>
            <td>
                <form th:action="@{/type/addNewType}" th:object="${newType}" method="post">
                    <input class="form-control form-control-lg" type="text" placeholder="Введите название типа"
                           aria-label=".form-control-lg example" th:field="${newType.title}">
                    <!--                    <div style="color: red" th:errors="*{description}" class="error"/>-->
                    <br>
                    <input name="submit" type="submit" class="btn btn-primary" value="Добавить"/>
                </form>
            </td>
        </tr>
    </table>
    <br><br>
</div>
</body>
</html>