<!DOCTYPE html>
<html lang="ru" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Список типов лекарственных средств</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Список типов лекарственных средств</h1>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Название</th>
            <!--            <th scope="col">Имя</th>-->
            <!--            <th scope="col">Дисциплина</th>-->
            <!--            <th scope="col">Классное руководство</th>-->
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <tr th:each="tL:${typeList}">
            <td th:text="${tL.getId()}"></td>
            <td th:text="${tL.getTitle()}"></td>
            <td><a class="btn btn-danger" th:href="@{'/type/editType?id=' + ${tL.getId()}}"
                   role="button">Изменить</a></td>
            <td><a class="btn btn-danger" th:href="@{'/type/removeType?id=' + ${tL.getId()}}"
                   role="button">Удалить</a></td>
            <!--            <td th:text="${tL.getDisciplinTitle()}"></td>-->
            <!--            <td th:text="${tL.getClassTitle()}"></td>-->
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>