<!DOCTYPE html>
<html lang="ru" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Изменение лекарственного средства</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Изменение лекарственного средства</h1>
    <br>
    <table>
        <tr>
            <td>
                <form th:action="@{/medicine/editMedicine}" th:object="${editMedicine}" method="post">
                    <input type="text" hidden="true" name="classId"
                           th:value="${editMedicine.getId()}" th:field="${editMedicine.id}">
                    <input class="form-control form-control-lg" type="text"
                           aria-label=".form-control-lg example" th:value="${editMedicine.getTitle()}" th:field="${editMedicine.title}">
<!--                    <div style="color: red" th:errors="*{description}" class="error"/>-->
                    <br>
                    <select class="form-select" th:field="${editMedicine.typeId}">
                        <option th:each="t:${listTypes}" th:value="${t.getId()}"
                                th:text="${t.getTitle()}">
                        </option>
                    </select>
                    <br>
                    <select class="form-select" th:field="${editMedicine.amountId}">
                        <option th:each="a:${listAmountUnits}" th:value="${a.getId()}"
                                th:text="${a.getTitle()}">
                        </option>
                    </select>
                    <br>
                    <input class="form-control form-control-lg" type="text"
                           aria-label=".form-control-lg example" th:value="${editMedicine.getAmount()}" th:field="${editMedicine.amount}">
                    <!--                    <div style="color: red" th:errors="*{description}" class="error"/>-->
                    <br>
                    <input name="submit" type="submit" class="btn btn-primary" value="Сохранить"/>
                </form>
            </td>
        </tr>
    </table>
    <br><br>
</div>
</body>
</html>